
* {
    box-sizing: border-box;
}

body {
font-family: 'DM Sans', sans-serif;
margin: 0;
padding: 0;
height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 97px;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 34px;
    font-weight: 700;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

nav li {
    display: inline;
    margin: 0 20px;
    list-style: none;
    color: white;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: relative;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

nav a:hover:after {
    width: 100%;
}

.nav-links {
    justify-content: space-around;
    display: flex;
    width: 20%;
}

label.logo {
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 4px;
    background: white;
    margin: 5px;
}

.hero-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero {
    text-align: center;
    letter-spacing: 0.7px;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
}

.hero-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700px;
    color: white;
    border: 2px solid #FFF;
    padding: 11px 20px;
    border-radius: 30px;
   
}

.hero-btn:hover {
    cursor: pointer;
    color: white;
}

.featured-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 36px;
}


.portfolio-btn {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 30px;
}

.portfolio-btn:hover {
    cursor: pointer;
    color: black;
}

.contact-box {
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px;
    padding: 30px 100px;
    border-radius: 10px;
    color: white;
}

p {
    font-size: 20px;
    line-height: 30px;
}



.project-description {
    padding: 100px 60px;
}

.about-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-hero {
    text-align: center;
}

.profile-picture {
    height: 500px;
}

.about-section {
    margin-top: 130px;
}

.about-content {
    margin: 30px;
}

.spacing {
    margin-top: 150px;
}

@media (max-width: 900px) {
    .hero-image {
    height: 70%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
        margin-top: 40px;;
    }

    h3 {
        font-size: 18px;
    }

    .contact-box {
        margin: 30px 0;
        border-radius: 0px;
    }

    .project-description {
        padding: 0;
        text-align: center;
      }

    .about-section {
        text-align: center;
        padding: 0px;
        margin: 20px 0px;
    }

    .profile-picture {
        height: 450px;
        margin: 29px auto;
        display: block;
    }

}

@media screen and (max-width: 768px) {
     body {
         overflow-x: hidden;
     }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 9vh;
        background: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav li {
        margin: 0;
    }

    nav a {
        color:black;
    }

    nav a:hover {
        color: black;
    }

    nav a:after {
        background-color: black;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}