
* {
    box-sizing: border-box;
}



body {
font-family: 'DM Sans', sans-serif;
margin: 0;
padding: 0;
height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 34px;
    font-weight: 700;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

nav li {
    display: inline;
    list-style: none;
    color: white;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
    line-height: 80px;
    font-weight: 400px;
    letter-spacing: 0.5px;
    position: relative;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

nav a:hover:after {
    width: 100%;
}

.nav-links {
    justify-content: space-around;
    display: flex;
    flex: 1;
    padding: 0;
}

label.logo {
   
    font-size: 30px;
    margin: 0 20px;
    font-weight: 700;
    line-height: 80px;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
    flex: 2;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 4px;
    background: white;
    margin: 5px;
}

.hero-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero {
    text-align: center;
    letter-spacing: 0.7px;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
}

.hero-btn {
    text-decoration: none;
    font-weight: 700px;
    color: white;
    border: 2px solid #FFF;
    padding: 11px 20px;
    border-radius: 30px;
    font-size: 18px;
   
}

.hero-btn:hover {
    cursor: pointer;
    color: white;
}

.hero .hero-icon {
    font-size: 15px;
}

.featured-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 36px;
}


.portfolio-btn {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    padding: 7px 15px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.portfolio-btn:hover {
    cursor: pointer;
    color:white;
    box-shadow: inset 400px 0 0 0 black;
}

.contact-box {
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
}



p {
    font-size: 20px;
    line-height: 30px;
}



.project-description {
    padding: 100px 60px;
}

.about-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-hero {
    text-align: center;
}

.profile-picture {
    height: 500px;
    margin-left: 30px;
}



.about-content {
    margin: 15px;
}

.spacing {
    margin-top: 150px;
}


.form-container {
    margin: 100px 0;
}

.form-control {
padding-right: 400px;
}

.form-container input,
.form-container textarea {
border: none; 
border-bottom: 2px solid black;
border-radius: 0;
}

button[type="submit"] {
    background: white;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 30px;

}

.form-control::-webkit-input-placeholder {
    color: black;
    font-size: 20px;
  }



footer {
    margin-top: 70px;
    margin-bottom: 70px;
}

footer .email-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 700;

}



.email-link:hover {
    text-decoration: underline;
}

footer .social-links a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 25px;
}

footer .opensource-link a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

footer .opensource-link {
    opacity: 0.5;
    text-align: center;
}


@media (min-width: 1500px) {
    nav {
        padding: 0 100px;
    }
}

@media (max-width: 900px) {
    .hero-image {
    height: 70%;
    }

    h1 {
        font-size: 50px;
        
    }

    h2 {
        font-size: 25px;
        margin-top: 40px;
    }

    h3 {
        font-size: 18px;
    }

    .form-container {
        text-align: center;
        margin: 70px 0;
    }
    .form-control {
        padding-right: 100px;
        }

    .project-description {
        padding: 0;
        text-align: center;
      }

    .about-section {
        text-align: center;
        padding: 0px;
        margin: 20px 0px;
    }

    .profile-picture {
        height: 450px;
        margin: 29px auto;
        display: block;
    }

    .spacing {
        margin-top: 60px;
    }

    footer {
        margin: 60px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
     
    
    html, body {
         overflow-x: hidden;
     }

     body {
        position: relative;
       
     }
    
     nav {
         justify-content: flex-end;

         
     }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 9vh;
        background: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

  

    nav li {
        margin: 0;
    }

    nav a {
        color:black;
    }

    nav a:hover {
        color: black;
    }

    nav a:after {
        background-color: black;
    }

    .burger {
        display: block;
        margin: 20px 20px;
    }

}

.nav-active {
    transform: translateX(0%);
}