


body {
font-family: 'DM Sans', sans-serif;
margin: 0;
padding: 0;
height: 100vh;
}

h1 {
    font-weight: 700;
    font-size: 97px;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 38px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-size: 34px;
    font-weight: 700;
}

.hero-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero {
    text-align: center;
    letter-spacing: 0.7px;
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 50px;
}

.hero-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700px;
    color: white;
    border: 2px solid #FFF;
    padding: 11px 20px;
    border-radius: 30px;
   
}

.featured-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 36px;
}


.portfolio-btn {
    text-decoration: none;
    color: black;
    font-weight: 700;
    border: 2px solid black;
    padding: 8px 15px;
    border-radius: 30px;
}

.contact-box {
    background: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px;
    padding: 30px 100px;
    border-radius: 10px;
    color: white;
}

p {
    font-size: 18px;
    line-height: 30px;
}



.project-description {
    padding: 100px 60px;
}

.about-image {
    background: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.profile-picture {
    height: 500px;
}

.about-section {
    margin-top: 130px;
}

.about-content {
    margin: 30px;
}

@media (max-width: 900px) {
    .hero-image {
    height: 70%;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;;
    }

    .contact-box {
        margin: 30px 0;
        border-radius: 0px;
    }

    .project-description {
        padding: 0;
        text-align: center;
      }

    .about-section {
        text-align: center;
        padding: 0px;
        margin: 20px 0px;
    }

    .profile-picture {
        height: 450px;
        margin: 29px auto;
        display: block;
    }

}